snippet TODO "TODO"
// TODO(`!v strftime('%Y-%m-%d')`, ${5:`!v g:snips_author`}): $0
endsnippet

snippet namespace "Namespace"
namespace $1 {
  ${0:${VISUAL}}
} // namespace $1
endsnippet

snippet tf "Test_F"
TEST_F($1, $2){
  $0
}
endsnippet

snippet copyright "Copyright"
// Copyright `!v strftime('%Y')` ${5: `!v g:snips_author`}
endsnippet

snippet guard "Header Guard"
#ifndef $1
#define $1
${0:${VISUAL}}
#endif  // $1
endsnippet
