[submodule "rst2ctags"]
	path = rst2ctags
	url = https://github.com/jszakmeister/rst2ctags
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "bundle/gv.vim"]
	path = bundle/gv.vim
	url = https://github.com/junegunn/gv.vim
[submodule "bundle/incsearch-fuzzy.vim"]
	path = bundle/incsearch-fuzzy.vim
	url = https://github.com/haya14busa/incsearch-fuzzy.vim
[submodule "bundle/incsearch.vim"]
	path = bundle/incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim
[submodule "bundle/python-syntax"]
	path = bundle/python-syntax
	url = https://github.com/hdima/python-syntax
[submodule "bundle/SimpylFold"]
	path = bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/Nedra1998/vim-airline-themes.git
[submodule "bundle/vim-cpp-enhanced-highlight"]
	path = bundle/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/vimtex"]
	path = bundle/vimtex
	url = https://github.com/lervag/vimtex
[submodule "bundle/vim-windowswap"]
	path = bundle/vim-windowswap
	url = https://github.com/wesQ3/vim-windowswap
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "bundle/vim-table-mode"]
	path = bundle/vim-table-mode
	url = https://github.com/dhruvasagar/vim-table-mode
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "bundle/vim-autoformat"]
	path = bundle/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat
[submodule "bundle/tabline.vim"]
	path = bundle/tabline.vim
	url = https://github.com/mkitt/tabline.vim
[submodule "bundle/tasklist.vim"]
	path = bundle/tasklist.vim
	url = https://github.com/vim-scripts/tasklist.vim
[submodule "bundle/papercolor-theme"]
	path = bundle/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme
[submodule "bundle/goyo.vim"]
	path = bundle/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule "bundle/vim-markdown-toc"]
	path = bundle/vim-markdown-toc
	url = https://github.com/mzlogin/vim-markdown-toc
[submodule "markdown2ctags"]
	path = markdown2ctags
	url = https://github.com/jszakmeister/markdown2ctags
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/vim-hybrid-material"]
	path = bundle/vim-hybrid-material
	url = https://github.com/kristijanhusak/vim-hybrid-material
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim/
[submodule "bundle/vim-closetag"]
	path = bundle/vim-closetag
	url = https://github.com/alvan/vim-closetag
[submodule "bundle/vim-glsl"]
	path = bundle/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl
[submodule "bundle/vim-fish"]
	path = bundle/vim-fish
	url = https://github.com/dag/vim-fish
[submodule "bundle/base16-vim"]
	path = bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim
[submodule "bundle/vim-solarized8"]
	path = bundle/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "bundle/incsearch-easymotion.vim"]
	path = bundle/incsearch-easymotion.vim
	url = https://github.com/haya14busa/incsearch-easymotion.vim
[submodule "bundle/vim-sage"]
        path = bundle/vim-sage
        url = https://github.com/petRUShka/vim-sage
[submodule "bundle/vim-unimpaired"]
        path = bundle/vim-unimpaired
        url = https://github.com/tpope/vim-unimpaired
